@model IEnumerable<ADONETExample.Models.Avengers>


@{
    ViewBag.Title = "Home Page";
}


<div id="Refresh">
    @{
        Html.RenderPartial("MessageHistory", Model);
    }
</div>

@Ajax.ActionLink("Link", "Index", new { user = "", chatMessages = "" }, new AjaxOptions { UpdateTargetId = "Refresh", OnSuccess = "OnSuccessChat", OnFailure = "OnFailureChat" },
    new { @id = "Link", @style = "visibility:hidden;" })

<div id="InputForm">
    <textarea id="SendMessages"> </textarea>
    <button id="btnMessages" value="Отправить">Отправить</button>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap.bundle")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script type="text/javascript">
    </script>
}